
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Seguradoras", "Index","Seguradora")
@Html.ActionLink("Coberturas", "Index", "Cobertura")
@Html.ActionLink("Propostas", "Index", "Proposta")
@Html.ActionLink("Usuarios", "Index", "Usuario")

