@model CotacaoApp.Models.Proposta

@{
    ViewBag.Title = "Pagina Inicial";
}

@*<div class="jumbotron">
    <h1>Bem-Vindo</h1>
</div>*@

<div class="container">
    <div class="row homeContent">
        <div class="col-lg-7">
            <div ><h3 class="title-banner">Faça Seu Seguro Com Quem Sabe <b>Buscar</b>!</h3></div>
        </div>
        <div class="col-xs-12" style="height:10px;"></div>
        <div class="col-lg-push-7 col-lg-4">
            
            @using (Html.BeginForm("Passo1", "Proposta", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
                <div class="form-home">
                        <div class="col-md-12 form-group center-block">
                            <select class="form-control" name="NomeMarcaVeiculo" id="NomeMarcaVeiculo">
                                <option selected>Escolha a marca do Seu Carro</option>
                                <option>Fiat</option>
                                <option>Chevrolet</option>
                                <option>Volkswagen</option>
                                <option>Ford</option>
                                <option>Kia</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <select class="form-control" name="AnoFabricacaoVeiculo" id="AnoFabricacaoVeiculo">
                                <option selected>Ano de Fabricação</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <select class="form-control" name="AnoModeloVeiculo" id="AnoModeloVeiculo">
                                <option selected>Ano do Modelo</option>
                                <option value="2014" >2014</option>
                                <option value="2015" >2015</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control" name="NomeVeiculo" type="text" placeholder="Ex: Palio" />
                        </div>
                        <div class="col-md-12 form-group">
                            <input class="form-control btn btn-success" type="submit" value="Simule Grátis" />
                        </div>
               </div>
              }
        </div>
    </div>


</div>




<div class="row" >
    <div class="inner-content home-inner-content">
        <div class="col-md-12">
            <div class="lista-seguradoras ">
                <div class="item-seguradora-home">
                    <a href="/seguradoras/azul-seguros" title="Seguradora Azul Seguros">
                        <img src="../Images/Seguradoras/seguradora-azul-seguros.png" class="img-seguradora center-block" alt="Azul Seguros Auto" title="Seguradora Azul Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/allianz-seguros" title="Seguradora Allianz Seguros">
                        <img src="../Images/Seguradoras/seguradora-allianz-seguros.png" class="img-seguradora center-block" alt="Allianz Auto" title="Seguradora Allianz Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home ">
                    <a href="/seguradoras/liberty-seguros" title="Seguradora Liberty Seguros">
                        <img src="../Images/Seguradoras/seguradora-liberty-seguros.png" class="img-seguradora center-block" alt="Liberty Seguros Auto" title="Seguradora Liberty Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/porto-seguro-seguros" title="Seguradora Porto Seguro">
                        <img src="../Images/Seguradoras/seguradora-porto-seguro.png" class="img-seguradora center-block" alt="Porto Seguro Auto" title="Seguradora Porto Seguro">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/hdi-seguros" title="Seguradora HDI Seguros">
                        <img src="../Images/Seguradoras//seguradora-hdi-seguros.png" class="img-seguradora center-block" alt="HDI Seguros" title="Seguradora HDI Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/mitsui-sumitomo-seguros" title="Seguradora Mitsui Seguros">
                        <img src="../Images/Seguradoras/seguradora-mitsui-seguros.png" class="img-seguradora center-block" alt="Mitsui Seguros" title="Seguradora Mitsui Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home ">
                    <a href="/seguradoras/aig-seguros" title="Seguradora AIG Seguros">
                        <img src="../Images/Seguradoras/seguradora-aig-seguros.png" class="img-seguradora center-block" alt="AIG Seguros" title="Seguradora AIG Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/mapfre-seguros" title="Seguradora Mapfre Seguros">
                        <img src="../Images/Seguradoras/seguradora-mapfre-seguros.png" class="img-seguradora center-block" alt="Mapfre Seguro Auto" title="Seguradora Mapfre Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/tokio-marine-seguros" title="Seguradora Tokio Marine Seguros">
                        <img src="../Images/Seguradoras/seguradora-tokio-marine-seguros.png" class="img-seguradora center-block" alt="Seguradora Tokio Marine" title="Seguradora Tokio Marine Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home">
                    <a href="/seguradoras/bradesco-seguros" title="Seguradora Bradesco Seguros">
                        <img src="../Images/Seguradoras/seguradora-bradesco-seguros.png" class="img-seguradora center-block" alt="Bradesco Seguro Auto" title="Seguradora Bradesco Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home ">
                    <a href="/seguradoras/itau-seguros" title="Seguradora Itaú Seguros">
                        <img src="../Images/Seguradoras/seguradora-itau-seguros.png" class="img-seguradora center-block" alt="Itaú Seguro Auto" title="Seguradora Itaú Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home ">
                    <a href="/seguradoras/chubb-seguros" title="Seguradora Chubb Seguros">
                        <img src="../Images/Seguradoras/seguradora-chubb-seguros.png" class="img-seguradora center-block" alt="Chubb Seguros" title="Seguradora Chubb Seguros">
                    </a>
                </div>
                <div class="item-seguradora-home item-border-right item-seguradora-home-2">
                    <a href="/seguradoras/yasuda-maritima-seguros" title="Seguradora Yasuda Marítima">
                        <img src="../Images/Seguradoras/seguradora-yasuda-maritima-seguros.png" class="img-seguradora center-block" alt="Seguradora Yasuda Marítima" title="Seguradora Yasuda Marítima">
                    </a>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Porque fazer sua cotação no <b>BuscaSeguros</b></h1>
            </div>
            <div class="col-md-3 text-center col col--3-of-12 sale-box">
                <i class="reasons-to-hire protection "></i>
                <h2>Proteção</h2>
                <p> O seguro é a forma mais eficiente de proteger um patrimônio, desde o celular até sua casa. Em caso de perdas por acidentes, incêndios ou roubos, o seguro irá restituir o prejuízo e você não ficará desamparado.</p>
            </div>
            <div class="col-md-3 text-center col col--3-of-12 sale-box">
                <i class="reasons-to-hire assistence"></i>
                <h2>Assistencia</h2>
                <p> Precisa consertar um encanamento em casa, teve um vidro quebrado no carro ou algum acidente com seu celular? Além de proteger contra acidentes graves, o seguro pode te auxiliar no dia a dia, oferecendo consertos variados e uma ampla rede de assistências.</p>
            </div>
            <div class="col-md-3 text-center col col--3-of-12 sale-box">
                <i class="reasons-to-hire flex"></i>
                <h2>Flexibilidade</h2>
                <p> Escolha quais tipos de cobertura, franquia e assistências se encaixam melhor para as suas necessidades e tenha a liberdade para escolher o que é mais importante. Na Bidu Corretora isso é possível de maneira rápida e descomplicada.</p>
            </div>
            <div class="col-md-3 text-center col col--3-of-12 sale-box">
                <i class="reasons-to-hire peaceful"></i>
                <h2>Comodidade</h2>
                <p> Em caso de qualquer problema, seja ele simples como um cano estourado ou complicado como um roubo de moto, o seguro te deixa tranquilo, pois garante total proteção e auxílio quando você precisar.</p>
            </div>
        </div>
