@{
    ViewBag.Title = "Pagina Inicial";
}

<div class="jumbotron">
    <h1>Bem-Vindo</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Página Inicial da App</h1>
    </div>
</div>