@model CotacaoApp.Models.Seguradora

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Seguradora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeSeguradora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeSeguradora)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>