body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #226b90;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 350px;
}

.logo{
    background: url('../Images/buscaSegurosSmall.jpg') no-repeat center right; 
    display: block; 
    height: 50px; 
    width: 187px;
}

.body-content{
    background-color:white;
}

.homeContent{
    background: url('../Images/mulherComChave.jpg') no-repeat center left;
    height: 400px;
    margin-left: -30px;
}

.form-control{
    height:50px;
    width: 100%;
}

.form-home{
    background-color: #226b90;
    padding: 20px;
    border-radius: 10px;
    height: 350px;
    width: 400px;
    opacity: 0.9;
}

.protection {
    width: 180px;
    height: 180px;
    background-position: -195px -195px;
}

.assistence {
    width: 180px;
    height: 180px;
    background-position: -5px -5px;
}

.flex {
    width: 180px;
    height: 180px;
    background-position: -195px -5px;
}

.peaceful {
    width: 180px;
    height: 180px;
    background-position: -5px -195px;
}


.reasons-to-hire {
    background-image: url('../Images/Motivos.png');
    background-repeat: no-repeat;
    display: block;
    position: relative;
    margin-left: 40px;
}

.sale-box {
    text-align: center;
    margin-top: 40px;
}

.grid .col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
}
.grid>.col--3-of-12 {
    width: 25%;
}

.inputHomeLarge{
    width: 200px;
}


footer, footer a, footer a:visited {
    text-decoration: none;
    color: white;
}

footer{
    width: 100%;
    padding: 45px 0;
    margin: 0 auto;
    display: table;
    background: #023650;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.title-banner{
    font-family: 'Open Sans',sans-serif;
    position: absolute;
    color: #808080;
    vertical-align: bottom;
}

.navbar-inverse {
    background-color: #023650;
    border-color: #226B90;
}

.lista-seguradoras {
    margin: 0 auto;
    width: 101%;
}
ol, ul {
    list-style: none;
}

.home-inner-content .item-seguradora-home {
    width: 14.02%;
    height: 100px;
    border: 1px #e1f2f1 solid;
    display: inline-block;
    float: left;
    background: #fff;
}

.table-toogle.white-style .item-body div.home-inner-content {
    padding: 0;
}

.table-toogle li {
    width: 100%;
    float: left;
    display: inline-block;
}

.border-box{
    border: 1px solid #a9a7a7;
    border-radius: 5px;
    padding: 2px;
}

.display-hide{
    display: none;
}

.textbox{
    width: 100%;
}

.wizardstep-block-On{
    width: 200px;
    height: 60px;
    background: #226B90;
    color: azure;
    float: left;
    border-left: dashed 1px white;

}

.wizardstep-block-Off{
    width: 200px;
    height: 60px;
    background: #93C9E4;
    color: azure;
    float: left;
    border-left: dashed 1px white;
}



.wizardstep-StepTitle{
    font-size: 13px;
    padding-left: 10px;
    padding-top:2px;
}

.wizardstep-Title{
    font-size: 25px;
    padding-left: 10px;
    padding-top:2px;
}
