
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="col-lg-12 div-centered">
        <div class="col-lg-6 col-lg-offset-4">
            <img src="~/Images/email-marketing.png" width="300" height="364" />
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h1>
                Email do Endosso Enviado ao Cliente.<br />
            </h1>
            <h3>
                Aguarde seu cliente aprovar a sua proposta. Você será notificado por email quando seu cliente aprovar.
            </h3>
        </div>

    </div>
</body>
</html>

