@using Microsoft.AspNet.Identity
@using CotacaoApp.Models
@if (Session["UsuarioLogado"] != null)//(Request.IsAuthenticated)
    {
        Usuario usuario = (Usuario)Session["UsuarioLogado"];
        using (Html.BeginForm("logout", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
        <li>
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.ActionLink("Olá " + usuario.Email + " !", "Index", "Usuario", routeValues: null, htmlAttributes: new { title = "Usuarios" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
