
@{
    ViewBag.Title = "AceitarProposta";
}

<h2>Proposta Aceita!</h2>

<h4>Você aceitou a proposta de Seguro. Fique atento pois um de nossos corretores<br/>
     entrará em contato com você através do seu Telefone ou por Email</h4>

