
@{
    ViewBag.Title = "Confirmação Proposta Aceita";
}

<div class="col-lg-12 div-centered">
    <div class="col-lg-6 col-lg-offset-4">
        <img src="~/Images/email-marketing.png" width="300" height="364" />
    </div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1>
            Proposta Aceita!<br />
        </h1>
        <h3>
            Você aceitou a proposta de Seguro. Fique atento pois um de nossos corretores<br />
            entrará em contato com você através do seu Telefone ou por Email.
        </h3>
    </div>

</div>

