
    <div>
        <h4>Obrigado por finalizar o cadastro em nosso site.<br/>
         Um Corretor irá analisar o seu formulário e entrará em contato com você pelo email com os preços.</h4>
    </div>
