@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h4>Obrigado por finalizar o cadastro em nosso site. Um Corretor irá analisar o seu formulário e entrará em contato com você pelo email com os preços.</h4>
    </div>
</body>
</html>
