
    <div class="col-lg-12 div-centered">
        <div class="col-lg-6 col-lg-offset-4">
            <img src="~/Images/email-marketing.png" width="300" height="364" />
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h1>
                Obrigado por finalizar o cadastro do Seu Seguro em nosso site.<br />
            </h1>
            <h3>
               Nossos corretores irão Analisar o seu formulário e entrará em contato com você pelo email com as cotações do Seu Seguro.
            </h3>
        </div>
        
    </div>
