@model CotacaoApp.Models.Cobertura

@{
    ViewBag.Title = "Excluir Cobertura";
}

<h2>Excluir Cobertura</h2>

<h3>Você tem certeza de que quer deletar isso?</h3>
<div>
    <h4>Cobertura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCobertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCobertura)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "Index")
        </div>
    }
</div>
